[submodule "modules/askllm"]
	path = modules/askllm
	url = https://github.com/DJRHails/askllm.git
[submodule "modules/agents/skills/graph-design"]
	path = modules/agents/skills/graph-design
	url = https://github.com/DJRHails/graphs.git
