{
	"data": "ENC[AES256_GCM,data:u7yE8A4p0vRU/8gOWg==,iv:1KFjWh1CUuS0oHs6Sdrx+9ULJtSSVGREHbd80jwjong=,tag:gZ0mVr9MCSJMa6sLSCJrnw==,type:str]",
	"sops": {
		"age": [
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDE3K3VWUSAvUHNu\nT1Z0MDUvZEVLU0MvK3ZGNkRMZjlLR1k1WElUMGZyRFU3em40SWlZCjJVSXhoblB4\neFhRSWI1TmhPbC9QNC9sVFUwU1lTWStIVVdVOUtJT3NvZk0KLS0tIG43cG1DU1ZR\nTTRJYkd6dVg0VTMzOTI5NmtDUDJvRG44OVlpaFdKVDV6MzQK3wXannlllFA4AcbN\nb2y43eijdgh2D8gZqFH8Nu92fk5wc4BWgGWip5EHZvWGrGyKzuDnSgw+pIxyjyaT\nT+YE/Q==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE+bl01iRKRVYvOtFYSQWqKtqo2N2TG9H5+nGSxJSxE0"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFhaRzBpUSBHekZQ\nR0hUejZYWlNyckc0M2lMajlJMW1jNjZ1b0tjWTcrTWpyUFpSUGhJCmJHT1RpTlZI\nY215THdkcHY3MzdpTVZiZzlyam80bTh4VUExellieS9qZW8KLS0tIHRHS3cvWVMy\nclNtVERER3ZzY3ZpSnBLMG9DWmJDdC84YmZxdTlSS3F2Q00Kf+nz9h3VPNKh32wJ\nvX8dU6f2NU+AImUwvwjcVe7WopPvmSkVSFJ7kFYeb1m1yqY0ElBb3hn9OzcV0I8l\npxzeFQ==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJQpQsoOwzcytS+AjXSB7bZbHjI90oX2uf80xNDBjXaL"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFZiV1kyUSBtZ0pI\neXhWaWRvMnNHOTZRd25VSWhpYmxNRFlTZW1CSjJyd2tYeW9rR0g0CmZaVE95MUFT\ncDI1L04yWEswbGtod1h0Y1N4RnlWZWJxMTgzajR3ZWlGS00KLS0tIFZXNkoyK1hV\nUE95cG1DSEFpbGcwM2E1SkhkWnVDSjZSeVA3YWFpa0Z0RDgK6DQAXXNMLhLfWBR2\naJGC7X8YHBbiQTTUqDUN8fTOUtrPfxUTjcY6BAvmWUVbXbprMa0B7BQ0XtsGXyas\nh0utsg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC/+Ziaqy11tLwos1sVvaBo+kKI14Y/zRtMTUK85rSL8"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IGNYblpxUSBMMlRW\ncnVLay9JWlc5TzFlNEcyWk9Vd2E4Ujc1QkhWQVFtdGlKdGpEN1RnCm1IOExxQWh0\nNnp3Mk5leUZqVU9MMU9QRnRZN1YrczJORGF0VW1sT2NOMG8KLS0tIDM0TE1kd1g3\nM2MyeTBBMm5yd2IrbWlNMG8va1hZSE1SNlhIUkFsQ0lKQjAKi4jDfZzBel2Qdwl/\nal/PDSKm96sj7806iJSsb53iZ4pQ/ivq5pBBN2+vFXOz00chnYOBK16riUy2zgLs\nUdM9jA==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINUhwKeMY/N/+vFiMr/jjz1GWUZ14XgTfctDphaUIJh5"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IGV2UWh0QSBaNWJ1\nRzhOVnhuaEFGbFc0M3pobHR5OVE2NDA3QVhidUE0cGxncldZNHpJCmhZNFYrQ3R6\nOXd1eC8wQjBrOVFDMFlIVVlqYk1RdlF5dUdtQzI3MHNlWWcKLS0tIGltWU5TN3Z1\nbmtZc2gyTWpKN0Ivb253NUR3VktQbDhZSTFNWS9GcDIxTW8KWBnAErUt72jiWFzG\nUYo77hC1C04kk53SvCfZcvFLJw10T06SYSKkQEgChQeuLHmnHL2SmKtjE10vHEzG\nTjq0jg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJe3wmGlGSjzUhnmCGKKrHStmXGyZKQwCGROEfPBdTIP"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFo2SHh0dyBJRE9C\nZnhPbm1IWkdwS3Zzcnh1dDRzUmJWbjlpSFFOUm4xREdMTEI0QXpjClZYUWdpdTNj\nUzZ5a2dYdG5tWExXbWpxbEdUTWNWU1FUSDBKdWY2TzFraWsKLS0tIHAvUE5LRkIz\ndGtEenNwOEVhK3JGeDNLeXU0a2tRZnJjR0MzN3AzemRtbFkKcNQFD0LdRSO3XgVH\n8BgzIz7tPWgWAZxFCCe7iQF8HrCdguEvkB68D6mCWrBtkfQ6NsmYR9OKOyfVPCi7\nNKPgjg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILGayLhDYjABZUNZKUfOMZeo4zka57Sl12wUHdt0zr7p"
			}
		],
		"lastmodified": "2026-07-24T01:52:08Z",
		"mac": "ENC[AES256_GCM,data:oDygzKhJkghiZjUZbNNCtRYZBil50fNMww7PThfr7X9tFSkZpJkvX5/QHhbb/rPChgcBD6lxNDD5mJNrRp4BotVfjRdrdbRLBgow3dUOpspLALYSYjhT03SijeURvc04sHva+OfS0NvmUlYcwNc0aAGv1JPn9+C/rs3LP392ftQ=,iv:Hv01g/V87EjKc8hmLB4MMuw5Uj4kSdqxn44nA7/SX2c=,tag:v/8pz+8uN7FVv6/8M+DudQ==,type:str]",
		"version": "3.13.1"
	}
}
