{
	"data": "ENC[AES256_GCM,data:sX+sSMg45y/sLEYENA==,iv:U1vINMQtq4hnJ9bqdsfOSjtMuEpvt7HTKcAXoziyPkM=,tag:Yvw779NX6pVtoDPVgn+TYQ==,type:str]",
	"sops": {
		"age": [
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFBnNUR3USBGNVYz\naXJweVRkdDdFRlVnNzJvTERGemNwSVZtNS9nUmFab1FScnVvdHdjCi9kSEUxYkdm\naUlzTHo1WUFUZkR6REFNQnVBMEJ1aG84WXQyajh5S2hUUjgKLS0tIEdPRW1mT1B6\nSS9YVHpJYkkvRHNFSlBCaDNKL09OdU5ydUVUY0k0MDVvYUEKDOeZenTSzqwvAKHi\nZjzaXU8VvGpaUCPANY7NTUkbRrQf7yr2C2nCBKK4Vc0eWeYOLYz8nuYTDQesZ0Gn\nZl09NA==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG4o3vHL7V102YlbjGkjVGerufdgSm7V9xjHGuWaqZPJ"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IHZsREg2QSAwQ0lK\nTWVLd1FiN1BDWTFTYmptZUhjeUlrMnZHUEZuTFZBTjYxbW05RjFNCkNaUFlLdFlk\naUw1V1B2a2hVOUVZQ1RZNUVJU09GNnJ4WksxUW13d3NHencKLS0tIC9FUjVzMHZi\nbTF2d05wZHlvTUM3QUFFL3d3a1lZZkJQZEw1d051Q1c5UGsKDrpB75wLRJtHSXw+\nmrZyjnEPVbOP/OJLnEnmJjv+dee6vv7HhJ/KgGH458/cCLJJaGDUNbBmNRCpxHfA\nUu1EHw==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAvA0G+Kb1y72dceASbVdS1tU58PYdaYsi2LBHovMkQX"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IHF6RGwxUSBZenJR\nVEViTXdoN2xMTUIzK0wxUXpZL3RsU3c5Ri9keXRldElsdE1lZkRjCkpmSTZ6QUVx\nV3J6RGZwMm5OdDZlVHFONmRicFNKYk5FcTRCWXV1ZEZBMzQKLS0tIHF0ZWo0YkxM\nZDNuWElNRnZzQ2lxWmdiVUp4MEE0NmMwS3IyM0tVOEd6M28KZn91o/qDuV9npib8\nTPrfkhWerCXF+y/Mc6C+tZMXe2JOMJg7O3e0LsLwqPdy302JeRmwA9jFQR26GCQx\nYw9NpA==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL79c0ABaglvUVYgF2MAabMvcaFPR0CnayNGiI4J4dDL"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IGc1OWJUQSBhaFNu\na09SalNHb2tleWoyYjloZDlNN3FFUGFkdkRVSlU1VjBrMFFmZEF3CmIyRmJ6SFRu\nZERuU1RiU2x0d1EzbS8xL3diWThqTi81YnZ4ZGxKVlh5U2MKLS0tIHNQUDhySkZT\nMmNPY3Y5MlFUS0dxc2x5NWRuWTNYUGxKbGlmSUpnemJYZ0UKNEVRoti6yCvL66E2\nI3d83t96u07E9+3i+4STFl1tkGqvLJivFJkVLKn+noru6I1Zvm11Ohy4dm2C5YRW\n5nP2uQ==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDgVBcMfDRmqpxzMaWuAlATJxaUgb3IzPgAEblU5dK4D"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IHFpdFhTZyBOVlNq\nTmR2OGRKSFNnOTU2VHBNb0hOSWFCcGVxQVorUm9KQVk0SUFaNGtvCjVyTHdneVV2\nWDVJL3ZVc3ZBWDFnMjg1VXdrdUtQT0VIY2Y2NU1GVFBLZmcKLS0tIHdxb3BuU1Jw\nTllkUUp1RGlBbTIvV1oxU3BDczhmRjNFUUMrbW9ISnZob1EKRLNUZN4+k9fjhLg8\nwjQZN2lHr5aNsczZvMJrTz8AaOHN5HCKFEj9KbH8nkr3JGjV/yN9CbUZcCpUd1yA\nvmvtLA==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMjqE84uWxrdkSJtCtBRXnSN1kFe7gRwOLhDPZUJZBM9"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IGw3VWlYQSB1Q0dU\nRDh4eURUSHpuVFhpTUN6VUdPdjliQTd6c0ljZU1qY0k2WWtjUVY0CnFPd2Q1NStM\ndEZReTdyanpXbGpoclJPL3F0TVFoMVFsMVY4b3Z0Yi9jWUkKLS0tIDlrMWd2WDBG\nZTBzRWV0TWk1dlYyNVp6S2xIS3F4bk1DNi9JOUNLcHBjcjAKL267x9hW7i7tUG02\nIG6dkdP0HUX2a+w96mIpspxlImB7KvCJGBNeGinyh7m94TDOYi3dFf8tWHOeuJAx\nnwfZyg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID8RlfXSlj42csvPTnFfQOHHK7894yyneyaRto8crrb+"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDNPYUNWQSBTV2Va\nMkxuRS9iVkNMVWttT0Fvekh3Z1c0ZmJtd0tTRjFuNDNMQWxnRDNFClNlUnpqUlFI\nV1FSQ0R4aUdTQ0F2a2JreFRPakVJZmluNGYvSjFxUTBUancKLS0tIG45UDl5SGF3\nbFlFMldkZGVqWlU2N1RLMnA0NTdGdzRJcndvRVM2blBuUm8KTdlIlvyowtFOECZC\ntO5to8yMKIBN6fsqFQ+NVTTeH4Dg2eaVI4okRFuCy9TaJ5n5IQGoqiEYDa2xjplO\ngjw7Qg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJLQyH6488PfF9QzyV+OB+Qh26Pgy552/aKtsWD6fZu7"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IEt1VGpNUSBzbklK\ndjduNXpOZTRocTBOc1hSbVZjSWl5UWI2QjJnQnhDUE1QUWI2Z0EwCmw4ZlZTMFZw\nNWlwYjFyczdFbWVsRXFPTmZsZ0RXaHZJb2wxVjBZZjgwaG8KLS0tIFdZS1ZwK01S\nU3RKcENLU2hTSlpXRVgweERKYmlSNDVVcXlXUXFHRG9PbWcK5ZCW9dqfhrc7krRZ\nlaR4f8uP/BHgNVgdnWVTG0dgvUqmPAAfBAyk2hSp3cgGYEtQvTSAtiTi5bSIjl0H\nTB2xWg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEFUXjq+3oXIFC6WhwqlW8XcPhLGWxVzShqhSs3SzuHI"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IEg3ZUZ4QSBSMzht\nVlE1cXZmQ2dLZkE4NlFHNW5iazRPbnphQ1F2ZTFXK2FzdWVqYjFrCk95ZmU0aVE2\nMzgzZTVkMXcyRjZ5NWw2ZTJqdXlVMFZ6K0lzSFdOK09sQncKLS0tIEd0QW5jNHU4\nNk9GZ3JyS1lhT0VpR3JrbzY5citUZHNqMzZCdHhjTkF3ZlUKwwFMTuwepU8uTKzu\nQXH0NjFilVzbi+0f7+HtLzvgulHy6+ltdx9wbYuwBPaxYqOaQEBDo/7BRmCYU4Io\nmT/ncw==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIETQ46yzkqHYQoUKHsXGOX6DI6ADgXn1+mJFvtBfxXFa"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDg1WGNadyAxZms3\nV241RW9yalpuZ3RiTlhXWkdxd2VKTzgvbFRJMCtMM2ZvQk1RcGdJCjJ0b1EwdVM1\nQ1ZqVlhFKzhRRUV3YWZrS2l5Rnp6SVhiZlViZzRaREdNTlkKLS0tIGtNeXZ4OHlE\nQWl5eGo2SVJsTUpOQVU1VlUveHI2WE5oaVh3WHVvNzJSNVkK1/reFD9bu1Qgb6s9\nh/kIH5I1ZbKrxwLPmi7EIlvS4CDElJj5kiU7b0L+d9L2l5TOQYApAsItj6oLRhD4\nokZFRg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILifCzfxfLcXykfDfOfeJsmYBbND6Ra3DJpJUeTNorF2"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IHRlOXUzUSBMMlZz\nNVlvZjFXTjN0a1NTb3YrSmkvbUJKczg4UjFkSENZcFB6YldGREJVCmtsaGFJazZ5\nWitDQ2xDNFRqNjNJSkRsdUVXbDZSSnlKY2F2ZlRSYlNINFkKLS0tIGRRaWY3aGlq\nNjJ6c21hM3phSGJaSkFwbFhhUHVDTldvQ254ZkxiQkVoancKb799VkclNYIABRqT\nXpH1ANA6J6sbdKvzO6dMF8pqWiwHLiLeQftregcLdGOqTMgqq5xzt90H0cth8IFA\n0Jc+Cw==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK2OfyiJtVg/5fn6njdF+jgIS4UaP/o4N0PJXvOFvxh+"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDE3K3VWUSBMY1Vh\nSTRGZjgvUDVHMndIaHU5ZU9zbThpVW9LOVNUKytHT1BaTHlTN2g0Clg0K2xCanhK\ndEFsSmtjclZVS2R6blpWTFlpY3NVYmkraWd0RTVsMlY3VkEKLS0tIHA2dlRrYWE2\nSU1KekMwZXN4NmNRU1NSY1B4QlN5dmJnd0JYRVhUWXRHd2sK2FyNmAMy2A0p3HAK\nJ7cttvlhwZSGWnO4maw44JAMSr0R+KPs8SOMR+h4V/N3IPUDnX+JUMuRaqs6Z3+l\n9GdTag==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE+bl01iRKRVYvOtFYSQWqKtqo2N2TG9H5+nGSxJSxE0"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFhaRzBpUSBBYUlF\nbjNqbGpUeFhIZlVEWWFTcUMxNEhQRHRXcjl3L0xVdjhTSGkrbzM4CmZFMVh5R09t\ncTNoRVpISVBGcldhSHV1eGpDbzNoR3FkUEJDRUIxMDJXMzQKLS0tIHdCYldLZmJR\nL3d4YmNETkdoRGQ5U2NpQ2tVUXhZVyt6TERjQlU2RjA5dkEKfp6jZlQGnq+IUgM6\n38W2uMtqe6xamzwXg21OTcisbAd9oH2GPbiYegd56O1XLdvwwiKPpQdNijVh82qm\n8/Cmjw==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJQpQsoOwzcytS+AjXSB7bZbHjI90oX2uf80xNDBjXaL"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFZiV1kyUSA1Ukxr\nTTZZRlk2WnNSMGRxdmNFdHRza2x4bmFIcnEyYmNLVElQWThJMTAwCnNaSXZhbTY5\nVm1hUWNjL3huRTZqaENua1lqVS9semdUN1N3NGcvYVdHSU0KLS0tIE02M1h0eDV4\nOEN0TU81d2xTdDdSZHFiTTJoQXFVRE5LVkF6akd6cVppelEKY65rP4NEgMgz8SuE\nAOao+Mfnswmip8oiSOEZgorwaVD2NCS4KsTNQw4AAvjEujMWWeKCpq2nDDLIhgbI\n3E8a/g==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC/+Ziaqy11tLwos1sVvaBo+kKI14Y/zRtMTUK85rSL8"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IGNYblpxUSBhd1FL\ncHlFZ3U4SGZsajZPTEdHWCtBYXpKL214S09qU3IxTGVscUJzVnhBCmw0Vm90d0FR\nSlpvY0E1enV1MER2Z1J0SXlCdjJ0Q0dkUDVPZzEyc3NpTjAKLS0tIE5DR2FQYVdN\nZFVacUxzcWYvTzVQaDViMFNrZERwZy9TWVdYTkxLYmJobU0K0IjqzXPA0+TWKauw\no3ZVgANuWFy0Kuu7LhMD7R9ZcH6W7TwpvT7SjJbELmZULrIxJY3Od6roAlDL+CwO\nOA9g0Q==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINUhwKeMY/N/+vFiMr/jjz1GWUZ14XgTfctDphaUIJh5"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IGV2UWh0QSBUeUlU\nV3NHTUw5Wmk3U25tZUowREVCeEZsQ0NjWnJSZXV6cUgzcDQ0c1h3CllZME5QU21x\nanFsWEJWblZXeFQxM1FkNWhyNE04aVl3VnoxQURJOHoyeTgKLS0tIHNUd0tTZ3hU\nbkxXbHd2Y1UwaHA4RUZKM0RCWXpuY2tVcEcxQ1drbFBFcDgK6fRADn48tE8NQTR1\nwPr7fJ5yooGj35LqYZlprz0TFxq/cPLG4E7yiuCW6Mul3FWM473Z1qA3wzFvZ/26\n4WzavA==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJe3wmGlGSjzUhnmCGKKrHStmXGyZKQwCGROEfPBdTIP"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFo2SHh0dyBOcHF6\nNWllZ0cyckI3Z1crWDdpTE0vb1pDSFlZUzczUWlrNVlFMFR0TEdnClcydnhLa3d3\nZWozSnh4UUlaWjc3NGl3VnMvRE1WS3JBRml6U3VYTHFLOEUKLS0tIEl6RlVMVVYz\ndHV5YWFWdXFZaHV3MTlJaWxqd21YanRQWncvNGkzSWpaS0UKphUzMz/4xypZOj4h\nfoqjny/VrS+FJwcEPQSFmlLhO08gTsFiFZIGv/fCvm4teo2Fdzcqs6GqNhIK8NwI\noK4+Ig==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILGayLhDYjABZUNZKUfOMZeo4zka57Sl12wUHdt0zr7p"
			}
		],
		"lastmodified": "2026-07-24T20:45:18Z",
		"mac": "ENC[AES256_GCM,data:kr8uHIxcO+cqZ2WXXUreIAsVcpliTWZ637MYlzgSBJ3Dpwc40gvJnwfQPsPSo/3D2TIlydFyfJnRMcnZVVo9xzqgu+GJw3Zi/DPgxIr6nLmfkBv2lIYSqxz75f2EH679hwpXfIY+kdB66oJflPdMSKN4lzbdgHWxEEXDURXy64s=,iv:6sF1S1uhu94BsJ4tU1f9j36SuFvEjht0N590fahjD28=,tag:w3y75HoBGGKCTcScDOaPvg==,type:str]",
		"version": "3.13.1"
	}
}
