{
	"data": "ENC[AES256_GCM,data:T4+R/Zmbz47Ot9lh8gc=,iv:igQ/aJmRdr+zg2olhoc/fJhbOthKCeDKGymcF+wZEhw=,tag:y6CO4yWjEB7OIqyOS0qDpQ==,type:str]",
	"sops": {
		"age": [
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDNPYUNWQSAwWFht\nSGpsa3VzSHhlSy9RNFJqV0Y5cG1UWS9rMmx1UmFBekYxa0lnQzFrCmp1Zi9jU3Fa\nTm9YRXlaY3UzKzQzMFJoYWZqajVQdGJJQit1RGVyamFNdE0KLS0tIGIyakUrRDdV\nbUFvTWhSaE5qeUNlV1p4cEx5NXV2QzlEWVZmcHVSMkpZdXMKDDJ9CFKfAmzjN5BV\n9wkrBa1VT+z4/30ajT16sH+anB64hUVyQS0vA8LGD6mcXWirNdvyCuNLL2x4OZQr\nfnvLeA==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJLQyH6488PfF9QzyV+OB+Qh26Pgy552/aKtsWD6fZu7"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IEt1VGpNUSBWNWZw\nZHZUZm9JK09UMjFYaGR0MlhyOTN0YlRtYjRJN2gwbVExMFhGQ1FFCk5STWRjdjVM\nTmJ2TXhnQnRlV1psTVBYUlNRN0pMWXVzbld1MzM3WktqSjAKLS0tIEQ1NGpFOVpX\nQVpaZkF1WWgyZUd6M3RnOWs5dUg5SEF4ZGFZYTRrc01xRGMKj5N2nZKm1nH7sjK8\nF18+/ppLsj//qu2hKA06h0GyrXOcTI+UH6UYrBjR3gtdmnZKtXDCZfRFm9bCXqh2\nRj9n+g==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEFUXjq+3oXIFC6WhwqlW8XcPhLGWxVzShqhSs3SzuHI"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IEg3ZUZ4QSBGeEcx\nYWwvWEFqMEhOVTNLcDhlYW1vVTd6NUJOMGNEbTkxSGRjdzd6MldFClpBcU9OZTU3\nTUxwcGpPelBwR0hnK2gyTHBkeTRLblU1SHY2Z0Vqa3BzWmcKLS0tIHhlYituTnk5\nZFBXdUpnTXV1NHA2ZVdUc3JGS1dCaWRoM2ZLbG1nSE8zM0EKh5F27DscfUR2ekX6\nbGTH6SovY/cmYzr6opa+kGStC8hwFcvdG1IhlJ1ErNHtGwV8hPX9i423liuiNsV5\nUs6mcw==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIETQ46yzkqHYQoUKHsXGOX6DI6ADgXn1+mJFvtBfxXFa"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDg1WGNadyB4SXZL\naXRzL2ZnNTQ5VmpTL21FcVp5K0dFamFqYmU3a3Q1QkZxMktuK1FvCkl2WU9MZlIy\na0tvVVROTFZIOWd5ZzNBazYxZ1NHYW9mZXJ5VDZCRVFhY1EKLS0tIE5aemhhcy9z\nSEpaRXUrSmJPMFQ5WUZjN3crMjhaWVUvdk0rSHd1TjNuSVUKkRXgzxzxNO+TxDXZ\n9mi1z9tMV94ArkQ2QkO3OglP0hcY1ITQqpK1uuzUEgeUN0BNGCN02XC6cljGWqVS\n1Go3NA==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILifCzfxfLcXykfDfOfeJsmYBbND6Ra3DJpJUeTNorF2"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IHRlOXUzUSBVWkRa\nTUN0TTA4ZG9rbURwNnB2eDJoOGVSeXpoeFlVdUdsdXBpZ3dUendjCkFYdUJuRmI2\naHJmeEM0RWZYbGRXVkpLMGZSMk9IK2dKam9wR2VaVTVLNFEKLS0tIGc4SmV2V0tz\nek9rdmJiWXZvb0FmUGZBMnRyc1d5a28zQVZ4TWF1UFArT1kKpOwlYnHZXMUoZ6E1\nuuujSHcXT0bOgTo+5QFukeqq1FZk0aRo7BGknnhR2jwghQbd3n84L11Oy2kkmZIw\nRZXTrQ==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK2OfyiJtVg/5fn6njdF+jgIS4UaP/o4N0PJXvOFvxh+"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDE3K3VWUSBoaU44\nQjlzR2RtMTdsUzdzdkhWb3ltc2I0N3h2UnhlVkhkekJFbFpmenh3Cmhhdk1Ra0Qz\nRmx5Nmh0d09JOGhLZ0VSYXhyVmx4VGZiT292MERVQWpjVkUKLS0tIDlWQnoxa2dU\nTXpUZHNZUmFRZS9hNXA2S2J1RWNBRVNKeVhVRFNjOW1yV1UK1dUDbGnGzxR9QG6s\nQZo5mZ1h7p9/gIjgJM9U3HKr6Bm0e79PGdf0iyzvmJ0yXtQm+UPlZ4QfTHCL+lAt\nC5Wbew==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE+bl01iRKRVYvOtFYSQWqKtqo2N2TG9H5+nGSxJSxE0"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFhaRzBpUSAxQkx0\nMzZ5ZjlPMjlDcTR3WmhNQldEd3hWYmljNFJRendLTHQ5b210RW5rCjV5OERlNlRV\nSUNwV0ZwR3Fnb0pxY0FXNXNDbWFtT1prVXhxcndydDFKc3MKLS0tIHU1cHdLLzRj\nR3BvajlyZFdLRUNIMEhDN0lWTCtpMEdTU2tCdmVkMWtkYkEKZ09WUwTJh3eJDXMz\nNG3tPVbd3DJct+XG+TlxV3J8w/boW1SXu1Rqn8pu/hcPdIs0e6ZsStxl4MfNNmxv\nRIuS1A==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJQpQsoOwzcytS+AjXSB7bZbHjI90oX2uf80xNDBjXaL"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFZiV1kyUSB4d2g1\nSXREdnJ6b002clFEWXVmZzVpaVhMdjJGQ1pVTTMvNzFZRXUyMDNVCjVRMlNjalg4\ndVc5MmFXd2xkRlZNUEwyYXNNYXo0NGYvcDlZWW1QOFJJUjQKLS0tIG1ROHRiUndD\nTjJCYTZvditvWGZmYmZrSlJ6cDhzTlI0SEFZTUJ2aUpmc2sKTxJ5roip93Tc4kJL\nWLNmza/Phg1kf7dbaTE1Xbr5/ZMyrdYHx7mo4Ow0EdLPlqLgb475IjV19PdgbzPD\nXbS71A==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC/+Ziaqy11tLwos1sVvaBo+kKI14Y/zRtMTUK85rSL8"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IGNYblpxUSB1aUpT\nSUxhaWlrbDlObFB2VDA1R1hEcEozUTR1dlovSFg5V1REeTNzRHgwCmdUVG5rNlhZ\nTDJoTVY5b1NleTdMYVIvd21lalg5MkZjMzZmNncrWnpqZTQKLS0tIGdCWG5JOXho\nZmFWTWpwZzRQMGdhd2JsOU9LVUZQRVJvbXc0SUZGUXdkMFkKNo0L7w5fCALdOAnt\nCucE37DNL7F869uG0Rpz9ceMXuvjcteXTpNAqOujllwGVDL9Y5gcH97Z/DVYOTT0\nfFFuug==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINUhwKeMY/N/+vFiMr/jjz1GWUZ14XgTfctDphaUIJh5"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IGV2UWh0QSAyeGZV\nZmI0R3lGUDIwUkhJRncxYlpLdmRVQU9IbEluaS85S2NLakhiSWtZClh4RHNnV0Uz\nN1FPMTU4S0xMZEhPZXFScURuaEU0b2tGOTJSTXJyV2lwVDAKLS0tIDdvSm5tbCtL\nUFlxQUxZWTl1eW9xODJmMkk5N0hOVDM1czdJQll3QU85QnMKT7tl48YP+VM0cOWM\nEw1wzr8K0LAz12CgFoG4mIbsw9kk+GHU+GVtfNmV3Qn/YS1PuI8x2D81+ZYJ9gLs\np7Wfcg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJe3wmGlGSjzUhnmCGKKrHStmXGyZKQwCGROEfPBdTIP"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFo2SHh0dyBOcWl5\nenBwQUF1TVhwbmMwdDAyUUI0OFZ6MjdkN3NIaXp4d3JZS0RMcWlNCkxtRkZnWkVm\ndUcxemxTTmVuWnJBL3d1VWMreWovRUp0THdXcUJPYUVvQVkKLS0tIHdlV3JVSGd3\nbE1XaWQ4NmdBa2toQk5SUy9uZFEwdHhTSjUxYXQzNkJ4amMKcC5Oc3lj5vGC8bk+\nniYJa59IwmzwZnodPfWbkJnkc06OgeIVd2VYpByzOiV6qiLNmBQcEK99ZLPB3Yez\ntZhw+Q==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILGayLhDYjABZUNZKUfOMZeo4zka57Sl12wUHdt0zr7p"
			}
		],
		"lastmodified": "2026-07-24T18:57:04Z",
		"mac": "ENC[AES256_GCM,data:BSReiOgw/Ho9kk/K6uaX2eIW0Ye9c9E2vdyeVUfgMmLdFZtli2UoN5no+9AltisJ7mIfqIDFl3Y1EVK4Q8JgMvNEyOJHOwvGYfDJD4vzojRBFhKq/HH9T+3WwzsjRca29suuo460vdHC5cMWOXXUgRSwzXRS1Oe6LRD+igl46DY=,iv:RJFuUxVIXx2P9KNU5AneoZ1dVujorOXskeSKJcw2Tz0=,tag:+IbJfKuHaIZo1f2iXYo/RQ==,type:str]",
		"version": "3.13.1"
	}
}
