{
	"data": "ENC[AES256_GCM,data:YQc3/ydbsgUzWsdE3Ig=,iv:O6rV7z1xMS6waNUD75MT8KGp+oi7L+cHjRcUQZ1u8bg=,tag:F1Tt1q3N74Cpsku0iHy7Lg==,type:str]",
	"sops": {
		"age": [
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDE3K3VWUSBsOWJu\nclhUZjB6blJhNmc2U24wYzZWaS9iZ2hKTVpBd3JpZUUyUXVqdXc4CklvSHR1SXdN\nZWYxeG1RQzBSTDdSSkhENkZWaE9NUjF1VUNHVnplQlRIemsKLS0tIHEzVVBMVito\nMzFpU1lGc3hxNDB0cnJ1QWFqYmxCVjRrd3BoYU9BRUppWEkKAOpXyRwAOmFlVtTO\nHYXJIXxiamaqC3e/xXNLTDszySB+VY6W7ASXy6yGuDlZqLbtqNs15vnBkN8WEZ5C\n4JR1hg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE+bl01iRKRVYvOtFYSQWqKtqo2N2TG9H5+nGSxJSxE0"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFhaRzBpUSBwdlJ5\ndjJDdEtGek9VM3krN3Y5aWNvVzBhVUdqYWVmUTJacHpCZ1E1S0ZnCkxCME14bUdl\nYjJHK0tIeEFmem94R1hTdEhMenVmTFJFS3ZHeVk5TGdjb2sKLS0tIFJMSWh4L0s0\nUWNJdGNBb1BnVUFEMmQ5MFZmRytLVE9SSTVTUmVjTGE3NTAK64RsFWlParih+GTm\nfrBZ4RTDz1DWQIS73o2ve6DbYLZkZ9iAuVPBG/VapglFIW29+SZfFvAJLMMHYhkv\nsE3LtQ==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJQpQsoOwzcytS+AjXSB7bZbHjI90oX2uf80xNDBjXaL"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFZiV1kyUSBla1NT\nM0xISTM5VWtnZ2QrOEFXWHM1TmNWMkxaeUI3ZjN5QUs1b1BFTzNVCmordXllMytB\ndlNFbjNmclJhSlhncHErVWQ1aHJUYVhyVldmbFE1UE15elEKLS0tIFYzdGY2UjhJ\nRFVxczFNVkI4S21MdUlIRnhOWUNsRjhhcWZRRnRvTDNQYlkKsU3U5N1Ph4LihED5\npmkCJZ/JJC2aEPw0bZbwTEpmjpngv/aFRSMBxkIsGD5qKF7zWth42GmTzUhJ2x3/\no1CLwg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC/+Ziaqy11tLwos1sVvaBo+kKI14Y/zRtMTUK85rSL8"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IGNYblpxUSA0MHBN\nVmVaS25BcERnbHRyeGtiK1djaEgxUFIxWFY5V095bUl3SmxrakFBCk1idnNRTGFZ\nTmdEVnRuYkwxOE9lRFNRM25ZdmFoZWg3TGRwcmRreEFvNEkKLS0tIGdmOElidml1\naGY2eldsVExEaXNKdFBteDArc1NhWVF1bXY3VmlEL3g0VE0KxNssuxYz3/cvRBPk\n3oTCRE3gE1H+wVxfSyAWE3uyBapm86B5Xvf76t+cY0vDNIRGOn3R5qyE3VnSuhV4\n+qP+5A==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINUhwKeMY/N/+vFiMr/jjz1GWUZ14XgTfctDphaUIJh5"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IGV2UWh0QSBBTXBw\nM25Pa0tPcjBpcGUxa3VCVmg5VEJUVHl2M3dweEJ6OVltVDU0TEdRCklDWTdjbFIr\nSTFZZkYzQWlOdis2L0lHcUdJaTg2TVdBWFNlMVBhQmFTZ3MKLS0tIFRJakhlbXdT\nQTBpWXZFdFNRRlFhQXZ2Y2oxTENrUFlXbkIrRlhOYnZFNmMKwPRtTzTrXYO2VLl5\n3XUw9AvVm9KiI+6XiHyn6RSVgpx/DFy2+rAS6L9vrbfcN+4br5O0qqyYTmzLFHHE\n9z56iA==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJe3wmGlGSjzUhnmCGKKrHStmXGyZKQwCGROEfPBdTIP"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IFo2SHh0dyBHMm1O\ndU9OZWJJSUxhdUJoQ3JEZmVRdXc4K2VvYzVOK3ZoZWFQNjdGMEJZCjFPZUVMN21s\nbE85Q2hKdnh2WWRuQXFIMUxpTXFVd2N0dzZaZ3FTS3Npb1UKLS0tIEZNTHZXam4v\nUVAyeHJQMjh0V1BjRnd4Zm5Kb2hXYnJJQng4cVpTTW5EajAKh+w3Clcg8Nu8+SRH\nkgulj+pf4b8MhSVxWOCfZ0MOTTnp5llHoVpSXVjm+WqvOndfn2LglUFOoj6vVcYF\nQFURVw==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILGayLhDYjABZUNZKUfOMZeo4zka57Sl12wUHdt0zr7p"
			}
		],
		"lastmodified": "2026-07-24T01:52:10Z",
		"mac": "ENC[AES256_GCM,data:qVAwoQ9EWP5iyyFwQvVit10U8k+2leUO3gYpy0cQyzGIsGjhGter+SP1b2CykrfeuvDXCKlv+CMKzWaL8ApK8jjujp8s9kfb0mwwD1mpbC7oNhPdQpVsTUbJ4iboKCuoTeyfFul3uZDV8PNAy5z9Qrk/jqEQRu7+4EBkVBfiH8Q=,iv:Q8aeo1u2QMdLlTqFbvPIEfHemeaJq0lxIikZM/fvQ7w=,tag:8YRqwp+YoArxe5zGZVXx3A==,type:str]",
		"version": "3.13.1"
	}
}
