Host chocolate
  HostName chocolate.hails.info
  User daniel
  RemoteForward 2224 localhost:2224
  RemoteForward 2225 localhost:2225

Host *.trycloudflare.com
	HostName %h
	User root
	Port 22
	ProxyCommand /usr/local/bin/cloudflared access ssh --hostname %h
