# your project folder that we can `p [tab]` to
export PROJECTS=PROJECT_ROOT
# your sites folder that we can `s [tab]` to
export SITES=SITES_ROOT
# jump points to search from so that we can `j [tab]` to
export JUMPPOINTS="/media/$USER:/home/$USER"