packages: [
  "atom-ide-ui"
  "autocomplete-solidity"
  "busy-signal"
  "etheratom"
  "ide-cpp"
  "ide-swift"
  "intentions"
  "language-antlr4"
  "language-flint"
  "language-haskell"
  "language-kotlin"
  "language-llvm"
  "language-prolog"
  "language-solidity"
  "language-swift"
  "less-autocompile"
  "linter"
  "linter-gcc"
  "linter-solidity"
  "linter-ui-default"
  "markdown-preview-enhanced"
  "package-sync"
  "remote-atom"
  "rsync-save"
  "script"
  "sort-lines"
  "teletype"
]
